:root {
    --main-dark-cl:#111111;
    --main-light-cl : #ffffff;
    --accent-cl: #fd9222;
    --grey-cl: rgba (255, 255, 255, 0.7);
    --main-dark-bg: #1e1823;

}


/* ==================
Common styles
================== */

body{
font-family: Montserrat, sans-serif;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
color: var(--main-dark-cl); 
}

/* Reset */
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: currentColor;
}
.button {
    cursor: pointer;
    font-family: inherit;
}
.list {
    list-style:none;
}

/* Base styles */

.section {
}
.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;

}
.title-accent {
    color: var(--accent-cl);
}

.subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: normal;

}
.subtitle-accent {
    color: var(--main-light-cl);
}


/*
==================
Header styles
==================
*/

.header {
}
.header-nav {
}
.header-logo {
font-weight: 700;
font-size: 18px;
line-height: 1,11;
letter-spacing:-0.03em;
color:var(--main-dark-cl);
}
.header-logo-italic {
font-style: italic;

}
.header-img {
}
.header-list {
}
.header-item {
}
.header-link {
color: var(--main-dark-cl) ;
font-size: 14px;
font-weight: 500;
line-height: 1,14;
letter-spacing: -0.02;
}
.header-networks {
}
.header-networks-item {
}
.header-networks-link {
}

/*
=====================
Hero styles
=====================
*/

.hero {
    background-color: var(--main-dark-bg);
}
.hero-title {
color: var(--main-light-cl);
font-size: 28px;
font-weight: 500;
line-height: 1,21;
letter-spacing: -0,03em;  
/* 0.84px; */
}
.hero-btn {
color: var(--main-light-cl);
font-size: 14px;
font-weight: 600;
line-height: 1,21em;
/* normal= 17px= 17:14=1.21 em; */
background-color: #FD9222;
}
.hero-link {

}

/* 
===============
Benefits styles
===============
 */

.section {
}
.benefits { 
background-color: var(--main-dark-bg);
}
.benefits-title {
}
.benefits-list {
}
.list {
}
.benefits-item {
}
.benefits-img {
}
.subtitle {
}
.subtitle-accent {
}
.Benefits-desc {
   color: var(--grey-cl) ; 
}

/* 
=================
Ingridients 
=================
*/
.section {
   
}
.ingredients {
}
.title {
}
.title-accent {
}
.ingredients-desc {
}
.ingredients-list {
}
.list {
}
.ingredients-item {
}
.orange {
}
.ingredients-img {
}
.ingredients-subtitle {
}
.light {
}
.ingridients-img {
}
.ingridients-subtitle {
}
.dark {
}

/* 
|=============
|How it's made
|==============
 */
 
.made {
}
.title {
}
.title-accent {
}
.made-img {
}
.made-subtitle {
}
.made-list {
}
.list {
}
.made-item {
}
 

/* 
================
Reviews section 
================
 */

 .section {
}
.reviews {
}
.title {
}
.title-accent {
}
.reviews-list {
}
.list {
}
.reviews-item {
}
.reviews-img {
}
.reviews-subtitle {
}
.subtitle {
}
.reviews-text {
}


/* 
==============
| Footer section
==============
 */
 .footer {
}
.footer-slogan {
}
.footer-slogan-accent {
}
.footer-address {
}
.footer-address-heading {
}
.footer-address-list {
}
.list {
}
.footer-address-item {
}
.footer-address-link {
}
.footer-nav {
}
.footer-nav-item {
}
.footer-nav-link {
}
